table {
    border-collapse: collapse;
}

table tr td {
    padding-left: 8px;
    padding-right: 8px;
}

table tr td:first-child {
    padding-right: 16px;
    font-weight: bold;
}

table tr {
    border-bottom: 1px solid black;
}

table tr:last-child {
    border-bottom: none;
}