* {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#container {

}
#header {
    background-color: red;
    height: 100px;
}
#menu {
    background-color: yellow;
    height: 25px;
}
ul {
    list-style-type: none;
    display: flex;
}
li {
    border-right: 1px solid black;
    text-align: center;
}
#content {
    background-color: green;
    height: auto;
}
#footer {
    background-color: pink;
    height: 60px;
}

