body {
    padding: 10px;
    width: 100%;
    height: 100%;
}

table {
    width: 600px;
    height: 600px;
    font-size: 50px;
    text-align: center;
    border: 1px solid;
    padding: 0px;
}

td {
    border: 1px solid black;
}

.hidden {
    -webkit-user-select: none;
    color: white;
}

.visible {
    color: black;
}